@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.rule::before {
  content: " ";
  position: absolute;
  width: 100%;
  border-top: 2.5px solid #CCCCCc;
  top: 20px;
  z-index: -1;
}

.rule::after {
  content: " ";
  position: absolute;
  width: 12%;
  border-top: 2.5px solid #008E10;
  top: 20px;
  z-index: -1;
}
.create::after {
  content: "";
  position: absolute;
  width: 50%;
  border-top: 2.5px solid #008E10;
  top: 20px;
  left: 0;
  z-index:-1;
}

/* 
.OTP::before {
  content: " ";
  position: absolute; */
  /* width: 230px; */
  /* width: 200%;
  border-top: 2.5px solid #008E10;
  top: 20px;
  left: 0;
  z-index: -1;
} */

.setup::after {
  content: " ";
  position: absolute;
  /* width: 420px; */
  width: 90.5%;
  border-top: 2.5px solid #008E10;
  top: 20px;
  left: 0;
  z-index: -1;

  /* @apply lg:w-72 */
}


.tabs {
  @apply flex flex-col text-center items-center relative;
  /* z-index: 2; */
  
}

.tabs p {
  @apply text-xs lg:text-base
}

.indicator {
  @apply mb-2 border border-2 border-ccc w-10 h-10 pt-1.5 rounded-full bg-white text-base lg:text-base
}
.form {
  @apply lg:w-80 font-family
}
.page-text {
  @apply text-green text-2xl lg:text-4xl font-semibold mb-3 text-center lg:text-left
}

.description {
  @apply lg:text-base text-sm mb-10 font-normal lg:w-72 text-center lg:text-left
}
   .input {
      @apply flex flex-col
    }
  
    .box {
      @apply border rounded-xl border-border bg-input p-3 mb-5 text-sm focus-within:shadow-lg;
      outline: none
    }
    
    .box option {
      @apply bg-input
    }

    label {
      @apply font-semibold text-sm mb-2
    }
/* } */
    .acc {
      @apply border;
      /* width: 20px; */
      padding: 10px;
    }


